<%= render 'shared/navbar'%>
<!-- <h1>hello <%= current_user.first_name%></h1> -->

<div class="d-flex bd-highlight">
  <div class="flex-shrink-1 bd-highlight">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="w-100 bd-highlight">
    <div class="container-overview">
      <div class="d-flex justify-content-center">
        <div class="card-myresto">
          <h2>Mon restaurant</h2>
          <%= cl_image_tag current_user.restaurant.photo.key, height: 120, width: 220, crop: :fill %>
          <%= current_user.restaurant.name%>
          <%= current_user.restaurant.address%>
          <p>Téléphone :</p>
        </div>
        <div class="card-myteam">
          <h2>Mon équipe</h2>
        </div>
      </div>
      <div class="card-mymenus">
        <h2>Mes menus</h2>
        <%current_user.restaurant.menus.each do |menu|%>
          <%= cl_image_tag menu.photo.key, height: 120, width: 220, crop: :fill %>
          <%= menu.name%>
        <% end %>
      </div>
    </div>
  </div>
</div>



<!-- <div class="profil_user_button_logout mb-4">
  <%#= link_to destroy_user_session_path, method: :delete do %>
    <div class="button d-flex flex-row justify-content-center">
      <i class="fas fa-sign-out-alt"></i>
      <div class="texticone"><p> Se déconnecter </p></div>
    </div>
  <%#end%>
</div> -->

<%# @users.each do |user|%>
  <%#= user.first_name%>
<%# end %>

<%# current_user.restaurant.menus.each do |menu|%>
  <%#= menu.name%>
<%# end %>
