<div class= "container_index_partenaires_restaurants">
  <div class = "title">
    <div class = "index_partenaires_title">
      <h2>Les restaurants partenaires<span><strong> autour de toi</strong></span></h2>
   </div>
  </div>

<%= form_tag restaurants_path, method: :get do %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Rechercher un restaurant près de toi"%>
     <%= button_tag(type: "submit", class: "search-btn") do %>
      <i class="fas fa-search"></i>
    <% end %>
   <!--  <input class="form-control string required" type="text" placeholder="Rechercher..." name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> -->
    <!-- </button> -->
  </div>
<% end %>

  <div class ="index_logos_partenaires d-flex display-block">
    <% @restaurants.each do |restaurant| %>
      <div class = "logo_partenaire">
        <%= cl_image_tag restaurant.logo.key, height: 93, width: 93, crop: :fill %>
      </div>
    <% end %>
  </div>
<!--   <div id="map" style="width: 100%; height: 250px;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
 -->  <div class="question_title">
    <h3>Alors, prêt à changer tes habitudes ?</h3>
  </div>
  <%= render 'meals/release' %>

</div>
