<div class= "container_show_restaurant">
  <div class ="banner">
    <div class = "show_order_title">
      <h2><strong>Sélectionne le menu qui te fait envie !</strong></h2>
    </div>
  </div>
  <div class="show_uber_eats">
    <%= cl_image_tag @restaurant.photo.key, height: 150, width: 500, crop: :fill %>
    <h5> <%= @restaurant.name %> </h5>
    <p> <%= @restaurant.category %> </p>
    <h2><i class="fas fa-walking"></i> 3 min</h2>
  </div>
<hr>
</div>


<%= render 'menus/index' %>
</div>
<%= render 'shared/footer' %>



