<div class= "container_show_restaurant">
  <div class ="banner">
    <div class = "show_order_title">
      <h2><strong><%= @restaurant.name %></strong></h2>
    </div>
  </div>
  <div class ="show_cards_restaurant d-flex">
    <div class="show_card_restaurant">
          <div>
            <%= cl_image_tag @restaurant.photo.key, height: 150, width: 300, crop: :fill %>
          </div>
          <div class="show_card_restaurant_infos">
              <div class ="show_card_name_restaurant">
                <h5> <%= @restaurant.name %> </h5>
              </div>
            <div>
              <div class="show_card_category_restaurant">
              <p> <%= @restaurant.category %> </p>
            </div>
            </div>
            <h2 class="show_card_restaurant_location"><i class="fas fa-walking"></i> 3 min</h2>
          </div>
        </div>
    </div>
  </div>
<%= render 'menus/index' %>
</div>
<%= render 'shared/footer' %>



