<div class= "container_show_restaurant">
  <div class ="title">
    <div class = "show_order_title">
      <h2 class='pb-2'>Sélectionne <span><strong>le menu</strong></span> qui te fait envie !</h2>
    </div>
  </div>
  <div class="show_uber_eats">
    <%= cl_image_tag @restaurant.photo.key, height: 150, width: 414, crop: :fill %>
    <div class="d-flex justify-content-between">
      <h5> <%= @restaurant.name %> </h5>
      <h2><i class="fas fa-walking"></i> 3 min</h2>
    </div>
    <p> <%= @restaurant.category %> </p>
  </div>
</div>
<%= render 'menus/index' %>
</div>
<%= render 'shared/footer' %>



