<div class="container-admin">
  <div class="navbar-admin">
    <%= image_tag("logo_foodzzz.png", size: "100x85", alt: "logo foodzzz") %>
  </div>
  <div class="navbar_users_team">
    <%= render 'shared/navbar'%>
  </div>
  <div class= "admin_index_users_container">
    <div class= "search_and_filters d-flex bd-highlight">
      <%= form_tag admin_users_path, method: :get do %>
        <div class="admin-search-form-control form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "admin-form-control",
            placeholder: "Rechercher un employé" %>
          <%= button_tag(type: "submit", class: "search-btn") do %>
            <i class="fas fa-search"></i>
          <% end %>
        </div>
      <% end %>
      <div class="filters">
        <div class="filter_text">
          <p>Filtrer</p>
        </div>
        <div class="filter_icone">
          <%= image_tag("filter.png", size: "20x20") %>
        </div>
      </div>
      <div class="orderby">
        <div class="orderby_text">
          <p>Trier par</p>
        </div>
        <div class="orderby_icone">
          <%= image_tag("orderby.png", size: "20x20") %>
        </div>
      </div>
    </div>
    <div class="titleboard d-flex">
      <div class="title_photo"><p><strong>Photo</strong></p></div>
      <div class="title_nom"><p><strong>Nom</strong></p></div>
      <div class="title_restaurant"><strong></strong><p>Restaurant</p></div>
    </div>
    <div id="userlist">
      <% @users.each do |user| %>
        <div class="card_user">
          <div class="user_infos_basic d-flex">
            <div class= "admin_index_avatar_users">
              <%= cl_image_tag user.photo.key, height: 50, width: 50, crop: :fill %>
            </div>
            <div class= "user_name">
              <p><%= user.first_name%> <%= user.last_name%></p>
            </div>
            <div class="user_restaurant">
              <p><%= user.restaurant.name%></p>
            </div>
          </div>
          <div class="user_infos_complement d-none">
            <div class="d-flex justify-content-around">
              <div class="user_phone">
                <p><%= user.phone_number%></p>
              </div>
              <div class="user_email">
                <p><%= user.email%></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="admin_button">
      <p>Ajouter</p>
    </div>
    <!-- <div class="view_bloc d-none">
      <%#= render 'admin/users/show'%>
    </div> -->
  </div>
  <div class="footer-admin">
    <%= render 'shared/adminfooter'%>
  </div>
</div>
