<div class="container-admin">
  <%= render 'shared/navbar_lewagon'%>
  <div class="container-card-form">
    <div class="card-form-new">
      <div class="title-form">
        <h1>
          Création Menu
        </h1>
      </div>
      <div class="instruction-form">
        <p>
          Crée le profil de l’employé qui pourra utiliser Foodzzz. Une fois le profil validé,
          un SMS lui sera envoyé avec ses identifiants de connexion.
        </p>
      </div>
      <div class="form-new-menu">
        <%= simple_form_for @menu, url: admin_menus_path do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-first-title">
                <%= f.input :name, placeholder: "Titre", label: false %>
              </div>
              <div class="form-description">
                <%= f.input :description, placeholder: "Description", label: false%>
              </div>
            </div>
            <div class="col-md-6">
              <div class="file-upload-wrapper">
                <%= f.input :photo, as: :file, class: "file-upload-field", label: false%>
              </div>
              <div class="form-type">
                <div class="form-vege">
                  <%= f.input :vegetarien, as: :boolean %>
                </div>
                <div class="form-vegan">
                  <%= f.input :vegan, as: :boolean %>
                </div>
                <div class="form-halal">
                  <%= f.input :halal, as: :boolean %>
                </div>
                <div class="form-gluten">
                  <%= f.input :sans_gluten, as: :boolean %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-submit">
            <%= f.submit "Enregistrer", class: "button"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="footer-admin">
    <%= render 'shared/adminfooter'%>
  </div>
</div>

