<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= "La 1ère app food pour les employés de la restauration rapide." %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= "http://www.foodzzz.website/" %>" />
    <meta property="og:image" content="<%= "facebook.jpg" %>" />
    <meta property="og:description" content="<%= "Foodzzz permet aux employés de la restauration rapide de bénéficier de repas dans d'autres restaurants." %>" />
    <meta property="og:site_name" content="<%= "Foodzzz" %>" />

    <%= favicon_link_tag 'favicon.ico', rel: 'icon', type: 'image/x-icon' %>
    <title>La 1ère app food pour les employés de la restauration.</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
